[Unit]
Description=address_wise API service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=addresswise
Group=addresswise
WorkingDirectory=/opt/address_wise
EnvironmentFile=/etc/address_wise.env
ExecStart=/opt/address_wise/target/release/address_wise
Restart=always
RestartSec=5
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
